body {
    margin: 0;
    padding: 5vh 5vw;
    background: black;
    overflow: hidden;
} 
* {
    box-sizing: border-box;
}

p{
    font-family: monospace;
    font-weight: bold;
    font-size: 4.1vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: red;
    text-shadow: 0px 0px 10px red;

}  
.msg {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vh;
    padding-top: 5vh;
    background: limegreen;
    box-shadow: 0 0 30px limegreen;
    text-shadow: 0 0 20px #333;
    color: black;
    width: 20vw;
    height:15vh ;
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    text-align: center;
    min-width: 200px;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

